html {
    font-size: 10px;
    font-family: sans-serif;
    background-color: aqua;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: center;
    background-color: yellow;
    color: orange;
    text-shadow: 3px 3px 1px black;
    margin: 0;
    padding: 20px 0;
}
h2{
    font-size: 40px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
    width: 500px;
}